@page "/hotel-room/create"
@page "/hotel-room/edit/{id:int}"
@using Models
@using Business.Repository.IRepository
@using HiddenVilla.Server.Services.IServices
@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop
@using HiddenVilla.Server.Helper
@using Microsoft.AspNetCore.Components.Forms
@inject IHotelRoomRepository HotelRoomRepository
@inject IHotelRoomImageRepository HotelRoomImageRepository
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject IFileUpload FileUpload


<div class="row mt-2 mb-5">
    <h3 class="card-title text-info mb-3">Create Hotel Room</h3>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <EditForm Model="hotelRoomDto" OnValidSubmit="HandleHotelRoomObsurd">
                    <DataAnnotationsValidator />
                    @*<ValidationSummary/>*@
                    <div class="form-group">
                        <label>Name</label>
                        <InputText @bind-Value="hotelRoomDto.Name" class="form-control"></InputText>
                        <ValidationMessage For="()=>hotelRoomDto.Name"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>Occupany</label>
                        <InputNumber @bind-Value="hotelRoomDto.Occupancy" class="form-control"></InputNumber>
                        <ValidationMessage For="()=>hotelRoomDto.Occupancy"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>Rate</label>
                        <InputNumber @bind-Value="hotelRoomDto.RegularRate" class="form-control"></InputNumber>
                        <ValidationMessage For="()=>hotelRoomDto.RegularRate"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>Square feet</label>
                        <InputText @bind-Value="hotelRoomDto.SqFt" class="form-control"></InputText>
                    </div>
                    <div class="form-group" style="height:250px;">
                        <label>Details</label>
                        @*<InputTextArea @bind-Value="hotelRoomDto.Details" class="form-control"></InputTextArea>*@
                        <BlazoredTextEditor @ref="@QuillHtml" Placeholder="Room description">
                            <ToolbarContent>
                                <select class="ql-header">
                                    <option selected=""></option>
                                    <option value="1"></option>
                                    <option value="2"></option>
                                    <option value="3"></option>
                                    <option value="4"></option>
                                    <option value="5"></option>
                                </select>
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-color"></select>
                                    <select class="ql-background"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-list" value="ordered"></button>
                                    <button class="ql-list" value="bullet"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-link"></button>
                                </span>
                            </ToolbarContent>
                            <EditorContent>
     

                            </EditorContent>
                        </BlazoredTextEditor>
                    </div>
                    <div class="form-group" style="padding-top:70px">
                        <InputFile OnChange="HandleImageUpload" multiple></InputFile>
                        <div class="row">
                            @if(IsImageUploadProcessStarted)
                            { 
                                <div class="col-md-12">
                                    <span><i class="fa fa-spin fa-spinner"></i>Please wait, images are uploading...</span>
                                </div>
                            }
                            @if (hotelRoomDto.ImageUrls != null && hotelRoomDto.ImageUrls.Count > 0)
                            {
                                int count = 1;
                                foreach (var imageUrl in hotelRoomDto.ImageUrls)
                                {
                                    <div class="col-md-2 mt-3">
                                        <div class="room-image" style="background: url('@imageUrl') 50% 50%;">
                                            <span class="room-image-title">@count</span>
                                        </div>
                                        <button type="button" @onclick="()=>DeletePhoto(imageUrl)" class="btn btn-outline-danger btn-block mt-4">
                                            Delete
                                        </button>
                                    </div>
                                    count++;
                                }
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">@Title Room </button>
                        <NavLink href="hotel-room" class="btn btn-secondary">Back to List</NavLink>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code
{

    [Parameter]
    public int? Id { get; set; }
    private HotelRoomDto hotelRoomDto { get; set; } = new HotelRoomDto();
    private string Title { get; set; } = "Create";
    private HotelRoomImageDto RoomImageDto { get; set; } = new HotelRoomImageDto();
    private List<string> deletedImageUrls { get; set; } = new List<string>();
    private bool IsImageUploadProcessStarted { get; set; } = false;
    public BlazoredTextEditor QuillHtml { get; set; } = new BlazoredTextEditor();

    protected override async Task OnInitializedAsync()
    {
        if (Id != null)
        {
            //update
            Title = "Update";
            hotelRoomDto = await HotelRoomRepository.GetHotelRoom(Id.Value);
            if(hotelRoomDto?.HotelRoomImages.Count != null)
            {
                hotelRoomDto.ImageUrls = hotelRoomDto.HotelRoomImages.Select(u => u.RoomImageUrl).ToList();
            }
        }
        else
        {
            //create
            hotelRoomDto = new HotelRoomDto();
        }

    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        bool loading = true;
        while(loading)
        {
            try
            {
                if (!string.IsNullOrEmpty(hotelRoomDto.Details))
                {
                    await this.QuillHtml.LoadHTMLContent(hotelRoomDto.Details);
                }
                loading = false;
            }
            catch
            {
                await Task.Delay(10);
                loading = true;
            }

        }

    }


    private async Task HandleHotelRoomObsurd()
    {
        var roomByName = await HotelRoomRepository.IsRoomUnique(hotelRoomDto.Name, hotelRoomDto.Id);
        if (roomByName != null)
        {
            await JsRuntime.ToastrError("Room name already exists");
            return;
        }

        try
        {
            if (hotelRoomDto.Id != 0 && Title == "Update")
            {
                hotelRoomDto.Details = await QuillHtml.GetHTML();
                //Update
                var updateRoomResult = await HotelRoomRepository.UpdateHotelRoom(hotelRoomDto.Id, hotelRoomDto);
                if ((hotelRoomDto.ImageUrls != null && hotelRoomDto.ImageUrls.Any()) || (deletedImageUrls != null && deletedImageUrls.Any()))
                {
                    if(deletedImageUrls != null && deletedImageUrls.Any())
                    {
                        foreach(var deletedImageUrl in deletedImageUrls)
                        {
                            var imageName = deletedImageUrl.Replace($"RoomImages/", "");
                            var result = FileUpload.DeleteFile(imageName);
                            await HotelRoomImageRepository.DeleteHotelRoomImageByUrl(deletedImageUrl);

                        }
                    }

                    await AddHotelRoomImages(updateRoomResult);
                }
                await JsRuntime.ToastrSuccess("Hotel room updated successfully.");
            }
            else
            {
                //create
                hotelRoomDto.Details = await QuillHtml.GetHTML();
                var createdResult = await HotelRoomRepository.CreateHotelRoom(hotelRoomDto);
                await AddHotelRoomImages(createdResult);
                await JsRuntime.ToastrSuccess("Hotel room created successfully.");
            }

        }
        catch (Exception ex)
        {
            // log exceptions
        }

        NavigationManager.NavigateTo("hotel-room");


    }

    private async Task HandleImageUpload(InputFileChangeEventArgs e)
    {
        IsImageUploadProcessStarted = true;
        try
        {
            var images = new List<string>();
            if (e.GetMultipleFiles().Count > 0)
            {
                foreach (var file in e.GetMultipleFiles())
                {
                    System.IO.FileInfo fileInfo = new System.IO.FileInfo(file.Name);
                    if (fileInfo.Extension.ToLower() == ".jpg" || fileInfo.Extension.ToLower() == ".jpeg" || fileInfo.Extension.ToLower() == ".png")
                    {
                        var uploadedImagePath = await FileUpload.UploadFile(file);
                        images.Add(uploadedImagePath);
                    }
                    else
                    {
                        await JsRuntime.ToastrError("Please upload only .jpg, .jpeg or .png files.");
                        return;
                    }
                }

                if (images.Any())
                {
                    if (hotelRoomDto.ImageUrls != null && hotelRoomDto.ImageUrls.Any())
                    {
                        hotelRoomDto.ImageUrls.AddRange(images);
                    }
                    else
                    {
                        hotelRoomDto.ImageUrls = new List<string>();
                        hotelRoomDto.ImageUrls.AddRange(images);
                    }
                }
                else
                {
                    await JsRuntime.ToastrError("Image upload failed");
                    return;
                }
            }
            IsImageUploadProcessStarted = false;
        }
        catch (Exception ex)
        {
            await JsRuntime.ToastrError(ex.Message);
        }
    }

    private async Task AddHotelRoomImages(HotelRoomDto roomDto)
    {
        try
        {
            foreach (var imageUrl in hotelRoomDto.ImageUrls)
            {

                if (hotelRoomDto.HotelRoomImages == null || hotelRoomDto.HotelRoomImages.Where(x => x.RoomImageUrl == imageUrl).Count() == 0)
                {

                    RoomImageDto = new HotelRoomImageDto()
                    {
                        RoomId = roomDto.Id,
                        RoomImageUrl = imageUrl
                    };
                    await HotelRoomImageRepository.CreateHotelRoomImage(RoomImageDto);
                }

            }
        }
        catch (Exception ex)
        {
            throw ex;
        }
    }

    internal async Task DeletePhoto(string imageUrl)
    {
        try
        {
            var imageIndex = hotelRoomDto.ImageUrls.FindIndex(x => x == imageUrl);
            var imageName = imageUrl.Replace($"RoomImages/", "");
            if (hotelRoomDto.Id == 0 && Title == "Create")
            {
                var result = FileUpload.DeleteFile(imageName);
            }
            else
            {
                //update
                deletedImageUrls ??= new List<string>();
                deletedImageUrls.Add(imageUrl);
            }
            hotelRoomDto.ImageUrls.RemoveAt(imageIndex);
        }
        catch (Exception ex)
        {
            await JsRuntime.ToastrError(ex.Message);
        }
    }

}

