@page "/demohotel"
@using Model


<h3>
    We willd isplay hotel rooms and amenities here!
</h3>
<div class="border p-2 mt-2" style="background-color:azure">
    <h2 class="text-info">
        Room List [USING COMPONENT]
    </h2>
    <div class="row container">
        <h4 class="text-info">Hotel Rooms</h4>
        @foreach (var room in RoomsList)
        {
            <IndividualRoom Room="@room"></IndividualRoom>
        }

    </div>
    <div class="row container">
        <h4 class="text-info">Hotel Amenities</h4>
        @foreach (var amenity in AmenitiesList)
        {
            <IndividualAmenity Amenity="@amenity"></IndividualAmenity>
        }
    </div>
</div>


@code{

    List<BlazorRoom> RoomsList = new List<BlazorRoom>();
    List<BlazorAmenity> AmenitiesList = new List<BlazorAmenity>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        RoomsList.Add(new BlazorRoom()
        {
            Id = 1,
            RoomName = "Villa Suite",
            IsActive = true,
            Price = 499,
            RoomProps = new List<BlazorRoomProp>
        {
                new BlazorRoomProp
                {
                    Id = 1,
                    Name = "Sq Ft",
                    Value = "100"
                },
                new Model.BlazorRoomProp
                {
                    Id = 2,
                    Name = "Occupancy",
                    Value = "3"
                },
            }

        });

        RoomsList.Add(new BlazorRoom()
        {
            Id = 201,
            RoomName = "Villa Suite One Bed Room",
            IsActive = true,
            Price = 399,
            RoomProps = new List<BlazorRoomProp>
        {
                new BlazorRoomProp
                {
                    Id = 1,
                    Name = "Sq Ft",
                    Value = "330"
                },
                new Model.BlazorRoomProp
                {
                    Id = 2,
                    Name = "Occupancy",
                    Value = "4"
                },
            }

        });

        RoomsList.Add(new BlazorRoom()
        {
            Id = 301,
            RoomName = "Villa Suite Two Bed Room",
            IsActive = true,
            Price = 699,
            RoomProps = new List<BlazorRoomProp>
        {
                new BlazorRoomProp
                {
                    Id = 1,
                    Name = "Sq Ft",
                    Value = "150"
                },
                new Model.BlazorRoomProp
                {
                    Id = 2,
                    Name = "Occupancy",
                    Value = "6"
                },
            }

        });


        AmenitiesList.Add(new BlazorAmenity()
        {
            Id = 111,
            Name = "Gym",
            Description = "24x7 gym room is available"
        });

        AmenitiesList.Add(new BlazorAmenity()
        {
            Id = 222,
            Name = "Swimming Pool",
            Description = "Pool is open from 6 AM to 10 PM"
        });

        AmenitiesList.Add(new BlazorAmenity()
        {
            Id = 333,
            Name = "Free Breakfast",
            Description = "Enjoy free breakfast at our hotel."
        });
    }

}
